---
import { Image } from 'astro:assets'
import nextjs from '../assets/nextjs.svg'
import astro from '../assets/astro.svg'
import supabase from '../assets/supabase.svg'
import tailwindcss from '../assets/tailwindcss.svg'
import php from '../assets/php.svg'
import wordpress from '../assets/wordpress.svg'
import shopify from '../assets/shopify.svg'
import copilot from '../assets/copilot.svg'
---

<section class="py-10 bg-background/70">
  <div class="max-w-screen-lg mx-auto">
    <div class="flex flex-col items-center text-center">
      <h2 class="text-3xl font-bold mb-4">Tecnologías que aprenderás</h2>
      <p class="mt-1 text-muted-foreground mb-8">
        Aprende a usar las herramientas más actuales en el mundo del desarrollo
        web
      </p>
      <div
        class="mt-8 flex flex-wrap items-center justify-center gap-x-8 gap-y-6 lg:gap-12"
      >
        <Image src={nextjs} alt="Next.js" class="h-10 w-auto" />
        <Image src={astro} alt="Astro" class="h-10 w-auto" />
        <Image src={supabase} alt="Supabase" class="h-10 w-auto" />
        <Image src={tailwindcss} alt="Tailwind CSS" class="h-10 w-auto" />
        <Image src={php} alt="PHP" class="h-10 w-auto" />
        <Image src={wordpress} alt="WordPress" class="h-10 w-auto" />
        <Image src={shopify} alt="Shopify" class="h-10 w-auto" />
        <Image src={copilot} alt="GitHub Copilot" class="h-10 w-auto" />
      </div>
    </div>
  </div>
</section>
